<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Registrations</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<header th:insert="fragment/menu.html :: menu"> </header>
<body>
<br>
	<div class="container">
		<div class="card" th:object="${registration}">
			<div class="card-header">Registration Information</div>
			<div class="form-group row">
				<label for="registration" class="col-form-label col-sm-2">Registration
					Id</label>
				<div class="col-sm-4">
					<span th:text="*{registrationId}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="date" class="col-form-label col-sm-2">Date</label>
				<div class="col-sm-4">
					<span th:text="*{date}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="studentId" class="col-form-label col-sm-2">Student Id</label>
				<div class="col-sm-4">
					<span th:text="*{studentId}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="studentName" class="col-form-label col-sm-2">Student</label>
				<div class="col-sm-4">
					<span th:text="*{studentName}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="classCode" class="col-form-label col-sm-2">Class Code</label>
				<div class="col-sm-4">
					<span th:text="*{classCode}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="classTitle" class="col-form-label col-sm-2">Class</label>
				<div class="col-sm-4">
					<span th:text="*{classTitle}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="score" class="col-form-label col-sm-2">Score to pass</label>
				<div class="col-sm-4">
					<span th:text="*{score}"></span>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a href="/app/registration/list" class="btn btn-danger">Back to list</a>
		</div>
	</div>
</body>
</html>